:root {
  --vp-c-brand-1: #000;
  --vp-c-brand-2: #333;
  --vp-c-brand-3: #666;
}
.dark {
  --vp-c-brand-1: #fff;
  --vp-c-brand-2: #ccc;
  --vp-c-brand-3: #999;
}
.VPSidebarItem.level-0 > .item > .text { font-weight: 600; }
.VPSidebarItem.level-0 > .items { border-left: 1px solid #e5e5e5; margin-left: 12px; padding-left: 12px; }
.dark .VPSidebarItem.level-0 > .items { border-left-color: #333; }
.VPSidebarItem.is-active > .item .link { color: var(--vp-c-brand-1) !important; font-weight: 600; }
.vp-doc p { line-height: 1.8; }
